<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Open" value ="CTRL+O"/>
    <add key="Save" value ="CTRL+S"/>
    <add key="Exit" value ="ALT+F4"/>
    <add key="AddPlayer" value ="CTRL+P"/>
    <add key="AddClub" value ="CTRL+F"/>
    <add key="AddLea" value ="CTRL+L"/>
    </appSettings>
    <connectionStrings>
      <add name="Folder1" connectionString="Plugins"/>
      <add name="Folder2" connectionString="Plugins1"/>
    </connectionStrings>
</configuration>